*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;  
  background-color: #FDF8E5;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}

.add-btn {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border: none;
  background-color: #FCC161;
  cursor: pointer;
  transition: all 0.7s;
}

.add-btn:focus {
  outline: 1px solid #FF8D23;
}

.add-btn::before {
  content: "+";
  height: 100px;
  position: absolute;
  top: 0;
  left: 8px;
  font-size: 150px;
  line-height: 100px;
  color: #FFFFFFFF;
}

.add-btn::after {
  content: "+";
  height: 100px;
  position: absolute;
  top: 0;
  left: 8px;
  font-size: 150px;
  line-height: 100px;
  color: #FFFFFFFF;
  transform: translateY(-70px);
  opacity: 0;
  transition: all 0.7s;
}

.add-btn:active::after {
  transform: translateY(0px);
  opacity: 1;
  transition: 0s;
}

.chats-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 50px auto;
}

.chat-window {
  margin-bottom: 25px;
  opacity: 0;
  animation-name: show-msg;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.chat-window:not(:nth-child(3n)) {
  margin-right: 50px;
}

@keyframes show-chat-window {
  100% {
    opacity: 1;
  }
}

.chat-iframe {
  width: 300px;
  height: 350px;
  border: none;
}

.chat {
  width: 300px;
  height: 350px;
  background: #FCFCFC;
}

.chat-header {
  height: 50px;
  padding-top: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #FCC161;
  border-bottom: 2px solid #F0F2F3;
  cursor: move;
}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  list-style: none;
  overflow-Y: auto;
  overflow-X: hidden;
}

.msg {
  max-width: 200px;
  margin-top: 10px;
  padding: 7px;
  background-color: #FDF8E5;
  border-radius: 10px;
  border-top-left-radius: 0;
  transform: translateX(-50px);
  overflow-wrap: break-word;
  opacity: 0;
  animation-name: show-msg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes show-msg {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}


.own-msg {
  align-self: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  background-color: #CCEFF5;
  transform: translateX(50px);
}

.info-msg {
  align-self: center;
  border-top-left-radius: 10px;
  background-color: #F3F3F3;
}

.message-input {
  width: 220px;
  height: 30px;
  margin: 10px 7px 10px 10px;
  padding-left: 10px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  border: 1px solid transparent;
  outline: none;
  background-color: #E7F7F7;
  transition: border-color 0.3s;
}

.message-input:focus {
  border-color: #69BDCC;
}

.send-btn {
  width: 50px;
  height: 30px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  border: none;
  outline: none;
  background-color: #E7F7F7;
  transition: background-color 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.send-btn:hover, 
.send-btn:focus {
background-color: #CCEFF5;
}

.send-btn:active {
  opacity: 0.7;
}

.send-btn:focus {
  border-color: #69BDCC;
}